body{
    background-color: rgb(248, 241, 241);
}
.header{
    flex-direction: row;
    display: inline;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.all_lists{
    flex-direction: row;
    justify-content: baseline;
    list-style: none;

}
textarea[name="description"]{
    width: 100%;
}
[id*="task-form"] {
    display: none;
    background-color: rgb(98, 91, 149);

}
.delete-container{
    position: relative;
    background-color: aqua;
    border: 1px solid #ccc; /* Add border for visualization */
    padding: 10px;
    margin-bottom: 10px; /* Add margin between task divs */
}
.delete-task{
    position: absolute;
    top: 0;
    right: 0;
}
.task-form-div{
    background-color: rgb(98, 91, 149);
    padding: 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todolist{
    background-color: rgb(98, 91, 149);
    justify-content: center;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 16%;
    margin: 4%;
    box-shadow: 8px 8px;
    border-radius: 16px 16px;
}
.task {
    background-color: aqua;
}
.task-URGENT{
    background-color : rgb(126, 0, 0);
    padding: 0.25%;
    border-radius: 25px 25px;
}
.task-MEDIUM{
    background-color : rgb(255, 200, 0);
    padding: 0.25%;
    border-radius: 25px 25px;
}
.task-LOW{
    background-color : rgb(0, 154, 0);
    padding: 1.25%;
    
    border-radius: 25px 25px;
}

